

<hr />
First: {{input type='text' value=first}}<br />
Second: {{input type='text' value=second}}<br />
Third: {{input type='text' value=third}}<br />

Token: {{token}}

<button {{action 'doSomething'}}>Do Something !</button>
